src/main/mule/register-covid-cases.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="715d7511-1106-47d6-b9e3-a03dc4115970" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="register-covid-case-flow" doc:id="ca85f446-f91a-48ff-aa77-164d95bbfecf" >
		<http:listener doc:name="Listener" doc:id="e3b63da1-7aaa-4bd9-8403-2677c9712b66" path="register-covid-sapi2/register-covid" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="601eccdc-1c9e-480e-8a8e-52bca75009a2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	covidCase: {
		source: payload.source,
		caseType: payload.caseType,
		firstName: payload.firstName,
		lastName: payload.lastName,
		phone: payload.phone,
		email: payload.email,
		dateOfBirth: payload.dateOfBirth as Date,
		nationalID: payload.nationalID,
		nationalIDType: payload.nationalIDType,
		address: {
			streetAddress: payload.address.streetAddress,
			city: payload.address.city,
			state: payload.address.state,
			postal: payload.address.postal as Number,
			country: payload.address.country
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8da9c849-da91-4546-b307-5c6a0064b27b" message="#[payload]"/>
	</flow>
</mule>
